.nav-bar {
    box-sizing: border-box;
    block-size: 64px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
img {
    height: 25px;
    width: 25px;
    cursor: pointer;
}

.theme-button {
    background-color: #e2e2e7;
    text-decoration-color: black;
    border: 1px solid hsla(0,0%,52.9%,.2);
    border-radius: 6px;
    width: auto;
    height: 30px;
    font-family: SFUIText,Helvetica Neue,sans-serif;
}

.theme-button-dark {
    background-color: #1C1C1E;
    color: #e2e2e7;
    border: 1px solid hsla(0,0%,52.9%,.2);
    border-radius: 6px;
    width: auto;
    height: 30px;
    font-family: SFUIText,Helvetica Neue,sans-serif;
}